.home-products-component{

    padding: 0 2%;
    margin: 8vh 0 3vh 0;
}

.home-products-head{


}

.home-products-head h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3vh;
}

.home-products{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}
.home-product{

}
